.funding-icons-large svg {
  width: 8rem;
  height: 8rem;
}

/* Left-align Markdown block content */
.hb-markdown {
  display: block !important;       /* undo flex centering */
  justify-content: flex-start !important; /* only applies if flex was used */
  text-align: left !important;     /* ensure text inside aligns left */
}
